body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EFF3F6;
}

.app {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 568px;
  height: 320px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (orientation:portrait) {
  .app {
    flex-direction: column;
    width: 362px;
    height: 568px;
  }
}